/*
 * TOTEM keymap  --  Cornix migration v2
 *
 * Layers : Base(0) / Num(1) / Fn(2) / Mac(3) / MacFn(4)
 *
 *  Thumbs   : Esc(hold Fn)  Space  Ctrl  |  Bksp  Enter  Tab(hold Num)
 *  GUI      : J + K combo (sticky)   -- becomes CTRL in Mac mode
 *  ALT      : D + F combo (sticky)   -- works in both Win & Mac (Option)
 *  Shift    : left pinky (tap = sticky Shift / double-tap = Caps)  right pinky (tap Shift / double-tap ')
 *  Hold     : U=[  I=]  O=|  ;='
 *  Backslash: Fn + /
 *  Han/Eng  : hold left Shift + Space
 *
 *  Mac mode : toggle by pressing BOTH pinky keys together
 *  Fn extras: [ ] on , .  /  \ on /
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE  0
#define NUM   1
#define FN    2
#define MAC   3
#define MACFN 4


&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
    require-prior-idle-ms = <150>;
};


/ {
    macros {
        m_selline: m_selline {          /* select current line (Win) */
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp HOME &kp LS(END)>;
        };

        m_selline_mac: m_selline_mac {  /* select current line (Mac) */
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LEFT) &kp LS(LG(RIGHT))>;
        };
    };

    behaviors {
        td_shft: td_shft {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&sk LSHFT>, <&kp CAPS>;
        };

        td_rshft: td_rshft {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <150>;
            bindings = <&kp RSHFT>, <&kp SQT>;
        };

        sym: sym_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

    };

    combos {
        compatible = "zmk,combos";

        /* J+K  -- Windows GUI (Win key) on Base */
        combo_gui {
            timeout-ms = <40>;
            require-prior-idle-ms = <100>;
            key-positions = <16 17>;
            layers = <BASE>;
            bindings = <&sk LGUI>;
        };

        /* J+K  -- Becomes Ctrl when Mac mode is active */
        combo_ctrl_mac {
            timeout-ms = <40>;
            require-prior-idle-ms = <100>;
            key-positions = <16 17>;
            layers = <MAC>;
            bindings = <&sk LCTRL>;
        };

        /* D+F  -- Alt / Option (same on both OS) */
        combo_alt {
            timeout-ms = <40>;
            require-prior-idle-ms = <100>;
            key-positions = <12 13>;
            layers = <BASE MAC>;
            bindings = <&sk LALT>;
        };

        /* LShift + Space  -- Han/Eng toggle (LANG1: native on macOS & Windows) */
        combo_hanyeong {
            timeout-ms = <50>;
            key-positions = <20 33>;
            layers = <BASE NUM FN MAC MACFN>;
            bindings = <&kp LANG1>;
        };

        /* both pinky keys  -- Mac mode toggle */
        combo_macmode {
            timeout-ms = <50>;
            require-prior-idle-ms = <200>;
            key-positions = <20 31>;
            bindings = <&tog MAC>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        mac_fn {
            if-layers = <FN MAC>;
            then-layer = <MACFN>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "WBAS";
            bindings = <
                &kp Q       &kp W   &kp E   &kp R   &kp T          &kp Y      &sym LBKT U  &sym RBKT I  &sym PIPE O  &kp P
                &kp A       &kp S   &kp D   &kp F   &kp G          &kp H      &kp J      &kp K       &kp L     &sym SQT SEMI
&td_shft        &kp Z       &kp X   &kp C   &kp V   &kp B          &kp N      &kp M      &kp COMMA   &kp DOT   &kp FSLH   &td_rshft
                                    &lt FN ESC  &kp SPACE  &kp LCTRL    &kp BSPC   &kp RET    &lt NUM TAB
            >;
        };

        Num {
            display-name = "NUMB";
            bindings = <
                &kp N1      &kp N2  &kp N3  &kp N4  &kp N5         &kp HOME   &kp PG_UP  &kp PG_DN   &kp END   &trans
                &kp N6      &kp N7  &kp N8  &kp N9  &kp N0         &kp LEFT   &kp DOWN   &kp UP      &kp RIGHT &trans
&trans          &trans      &trans  &trans  &trans  &kp DOT        &kp PLUS   &kp MINUS  &kp ASTRK   &kp FSLH  &kp EQUAL  &trans
                                    &trans      &trans     &trans       &trans     &trans     &trans
            >;
        };

        Fn {
            display-name = "WFNC";
            bindings = <
                &kp LG(LS(S)) &kp F2  &kp F3  &kp F4  &kp F5         &trans          &trans            &trans          &trans            &m_selline
                &kp F6      &kp F7  &kp F8  &kp F9  &kp F10        &kp LA(F4)      &m_selline        &kp LG(LS(S))   &bootloader       &trans
&trans          &kp F11     &kp F12 &trans  &trans  &trans         &trans          &trans            &kp LBKT        &kp RBKT          &kp BSLH   &trans
                                    &trans      &trans     &trans       &kp DEL    &trans     &trans
            >;
        };

        Mac {
            display-name = "MBAS";
            bindings = <
                &trans      &trans  &trans  &trans  &trans         &trans     &trans     &trans      &trans    &trans
                &trans      &trans  &trans  &trans  &trans         &trans     &trans     &trans      &trans    &trans
&trans          &trans      &trans  &trans  &trans  &trans         &trans     &trans     &trans      &trans    &trans     &trans
                                    &trans      &trans     &kp LGUI     &trans     &trans     &trans
            >;
        };

        MacFn {
            display-name = "MFNC";
            bindings = <
                &kp LG(LS(N4))       &trans               &trans              &trans  &trans         &trans  &trans  &trans        &trans    &m_selline_mac
                &kp LG(LA(LEFT))     &kp LG(LA(DOWN))     &kp LG(LA(UP))      &kp LG(LA(RIGHT))  &trans    &none   &none           &none         &trans    &trans
&trans          &trans               &trans               &trans              &trans  &trans         &trans  &trans          &kp LBKT      &kp RBKT  &trans &trans
                                    &trans      &trans     &trans       &trans     &trans     &trans
            >;
        };
    };
};
